html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-size: 14px;
}
h1 {
  font-size: 60px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}
h6 {
  font-size: 14px;
  font-weight: 500;
}
ul {
  padding-left: 1.25em;
}
li {
  padding-right: 2em;
}

#experience {
  height: 100vh;
  background: var(--gradien);
  color: #ffffff;
}

.content {
  height: calc(100% - 200px);
  margin: 0px var(--margin);
  padding: 100px 0;
}

.align-center {
  text-align: center;
}

.space {
  padding-bottom: 50px;
}
