<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>hompimpa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico" />
    <script src="static/script.js"></script>
    <script>
      const roomId = "{{ .id }}";
    </script>
  </head>
  <body>
    <div id="experience">
      <div class="content">
        <div class="align-center space">
          <form action="" id="form" onsubmit="connectWs(event);">
            <label for="name">name</label>
            <input type="text" name="name" />
            <input type="submit" name="submit" />
          </form>
          <div id="head" class="space"></div>
          <h3 id="result"></h3>
          <div id="data" class="grid"></div>
        </div>
      </div>
    </div>
  </body>
</html>
